canvas {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    order: -1;
    width: 400px;
}

.MuiToggleButton-root {
    border-color: white !important;
    color: white !important;
    width: auto !important;
    float: right;
}

.Mui-selected {
    background-color: rgba(255, 255, 255, 0.5) !important;
}

.testing {
    position: absolute;
}

#simBoard {
    order: -1;
}

#root {
    order: 2;
}

.s_c {
    order: 3;
}

.sPText {
    font-size: 14px;
}

/* Colors for the label that pops out when you hover on slider */
.css-cq3a6k-MuiSlider-valueLabel {
    background-color: var(--secondary-color) !important;
}
.MuiSlider-valueLabel {
    color: var(--primary-color) !important;
}

/* Colors for thumbtrack and slider */
.css-nl6333-MuiSlider-track, .css-7o8aqz-MuiSlider-rail, .MuiSlider-thumb {
    background-color: var(--secondary-color) !important;
}

.centerImage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 20%;
    max-height: 20%
}