canvas {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    order: -1;
    width: 400px;
}

.testing {
    position: absolute;
}

#simBoard {
    order: -1;
}

#root {
    order: 2;
}

.s_c {
    order: 3;
}

