.simCard  {
    background-color: var(--bg-color) !important;
    border: 1px solid var(--secondary-color) !important;
    color: var(--text-color) !important;
}

.cardText, .simIcon, .MuiCardHeader-subheader {
    color: var(--text-color) !important;
}

.MuiTypography-h5 {
    font-family: 'Raleway' !important;
}

.byText {
    text-align:end !important;
}